{{#each this}}
<h1>{{name}}</h1>
<ul>
  <li>
    <h2>Capital:</h2>
    <span>{{capital}}</span>
  </li>
  <li>
   <h2>Population:</h2>
   <span>{{population}}</span>
  </li>
  <li>
    <h2>Languages:</h2>
    <ul>
      {{#each languages}}
      <li>
        {{name}}
      </li>
      {{/each}}
    </ul>
  </li>
</ul>
  <img src="{{flag}}" width="500" alt = {{name}}>
{{/each}}
